
body { font: normal 0.75em/1.5em Verdana, Arial, Helvetica, sans-serif; color: #000; background: #fff; width: 98%; height: 100%; padding: 20px; }
a { color: #0080C0;}

h1 { font-size: 18px; font-weight: bold; padding-top: 15px; padding-bottom: 5px;}
h2 { font-size: 14px; font-weight: bold; padding-top: 10px; padding-bottom: 5px;}

li, dl, dt { font-size: 13px;}
p {padding-top: 5px; padding-bottom: 5px; font-size: 13px;}

.header .top { height: 95px;}
.header .language { color: #fff; background: #000; float: right; width: 250px; margin-top: 30px; padding: 3px 3px;}
.header .language a { color: #fff; float: right; }
.header img { width: 305px; height: 94px; float: left;}
.header nav { clear: left;}

.tabs { background: #0080C0; list-style: none; color: white; margin: 5px 0 15px 0;}
.tabs a { color: white; font-weight: bold;}
.tabs li { display: inline; padding: 5px; line-height: 20px;}
.tabs li:after {content: "|"; padding-left: 15px;}

.content { overflow: auto;}
.column { float: left; }
.column-left { width: 20%; }
.column-center { width: 60%; }
.column-right { width: 20%; }
.column-full { width: 100%; }
.column-center-right { width: 80%; }

.footer { margin-top: 20px;}
.footer .updated { float: right; padding: 0;}
.footer .updated:after {content: "";}

.calendar {color: #000; padding: 10px;}
.calendar h1 { background: #E7E7ED; font-weight: bold; text-align: center; padding: 3px 0 3px 0; font-size: 12px;}
.calendar li { margin-top: 10px; background: #E7E7ED; padding: 3px 0 3px 0; font-size: 12px;}
.calendar .date { width: 80px; display: inline-block;}

.info-block { padding: 20px; clear: left; }
.info-block h1 { background: #E7E7ED; color: #0080C0; font-weight: bold; text-align: center; padding: 3px 0 3px 0; font-size: 12px;}
.info-block p { font-size: 12px;}
.info-block ul { margin: 10px 0 10px 15px;}
.info-block li { list-style: disc inside;}
.info-block a.more {float: right;}

.facebook { text-align: center;}

.harjoitukset h2 { margin-top: 30px;}
.harjoitukset b { margin: 25px 0 0 35px; display: block;}
.harjoitukset ul { margin: 0 0 35px 35px;}
.harjoitukset p { margin-bottom: 40px;}
.harjoitukset li { list-style: disc outside;}

.schedule h1 { background: #E7E7ED; font-weight: bold; text-align: center; padding: 3px 0 3px 0; font-size: 12px; }
.schedule table {background: #E7E7ED; margin-top: 20px; width: 100%; }
.schedule table td {vertical-align: top; font-size: 12px;}
.schedule .links a {background: #E7E7ED; font-weight: bold; text-align: center; padding: 3px 0 3px 0; font-size: 12px; width: 100%; display: inline-block; margin-top: 20px; }

.alkeiskurssi h1, .alkeiskurssi p { margin-left: 20px;}
.alkeiskurssi dl { margin: 20px 0 0 20px;}
.alkeiskurssi dd { margin-left: 40px;}

.leirit h1, .leirit p { margin-left: 20px;}

.yleistietoa h1, .yleistietoa h2, .yleistietoa p, .yleistietoa ul  { margin-left: 20px;}
.yleistietoa .anchor {font-size: 18px; font-weight: bold; padding-top: 10px; padding-bottom: 5px; color: #000; margin: 20px 0 20px 20px; display: inline-block;}

.muistoja h1, .muistoja h2, .muistoja p { margin-left: 20px;}

.galleries h1 { background: #E7E7ED; font-weight: bold; text-align: center; padding: 3px 0 3px 0; font-size: 12px; }
.galleries table {background: #E7E7ED; margin-top: 20px; width: 100%; }
.galleries table td {vertical-align: top; font-size: 10px; padding-top: 10px;}
.galleries .title { width: 100px; padding-right: 10px;}
.galleries img { max-width: 80px; }

.tyylikuvaus hr { margin-top: 20px; margin-bottom: 20px;}
.tyylikuvaus .anchor {font-size: 18px; font-weight: bold; padding-top: 15px; padding-bottom: 15px; color: #000; display: inline-block;}
.tyylikuvaus .anchor-small {font-size: 13px; font-weight: bold; padding-top: 5px; padding-bottom: 5px; color: #000;}
.tyylikuvaus ul { margin-left: 30px;}
.tyylikuvaus li { list-style: disc outside; }

.katat h1, .katat p { margin-left: 20px;}

.muumaailma ul { margin-left: 30px;}
.muumaailma li { list-style: disc outside; }

.saannot ul { margin-left: 30px;}
.saannot li { list-style: disc outside; }
