<div class="column column-left">
  <div class="galleries">
    <h1>Picture series</h1>
    <table>
      <tr>
        <td class="title">Pictures from 2009</td>
        <td>
          <a href="kuvia_09_en.html" title="Pictures from 2009"><img src="/gallery/2009/IMG_1928.JPG" alt="Mika and Antti"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Pictures from 2008</td>
        <td>
          <a href="kuvia_08_en.html" title="Pictures from 2008"><img src="/gallery/2008/jousi_006.jpg" alt="Archery"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Pictures from 2007</td>
        <td>
          <a href="kuvia_07_en.html" title="Pictures from 2007"><img src="/gallery/2007/solvalla07_21.jpg" alt="Solvalla 2007"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Drawn black and white pictures</td>
        <td>
          <a href="kuvat1_en.html" title="Drawn black and white pictures"><img src="/gallery/hw_zazen.gif" alt="Zazen"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Older photos</td>
        <td>
          <a href="kuvat2_en.html" title="Older photos"><img src="/gallery/joku2.gif" alt="Strike"></a>
        </td>
      </tr>
      <tr>        
        <td class="title">Camp photos by Janne Sinkkonen</td>
        <td>
          <a href="kuvat3_en.html" title="Camp photos by Janne Sinkkonen"><img src="/gallery/thumbs/solmussa2.gif" alt="solmussa"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Camp photos by Risto Kemppainen</td>
        <td>
          <a href="kuvat4_en.html" title="Camp photos by Risto Kemppainen"><img src="/gallery/thumbs/etaisyys6.gif" alt="etaisyys"></a>
        </td>
      </tr>
      <tr>
        <td class="title">More drawn pictures</td>
        <td>
          <a href="kuvat5_en.html" title="More drawn pictures"><img src="/images/hw_pieni1.gif" alt="Knife"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Memories from '97 xmas party</td>
        <td>
          <a href="kuvat6_en.html" title="Memories from '97 xmas party"><img src="/images/pj_pieni1.gif" alt="Restaurant"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">TKY-KDS representing the club during club-week</td>
        <td>
          <a href="kuvat7_en.html" title="TKY-KDS representing the club during club-week"><img src="/images/ay_pieni1.gif" alt="Mika and Sami"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Black and white photos by Maria Pekkarinen</td>
        <td>
          <a href="kuvat8_en.html" title="Black and white photos by Maria Pekkarinen"><img src="/images/mp_pieni1.gif" alt="Antti Zazen"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Misc camp photos by Mika Koskela</td>
        <td>
          <a href="kuvat9_en.html" title="Misc camp photos by Mika Koskela	"><img src="/gallery/thumbs/sl_pieni1.jpg" alt="Ilmeilya"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Practice photos from 2001</td>
        <td>
          <a href="kuvat10_en.html" title="Practice photos from 2001"><img src="/gallery/thumbs/karate_kisu_sami_potku_ss.jpg" alt="Kumite"></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="column column-center-right muistoja">
  $body$
</div>