<div class="column column-left">
  <div class="galleries">
    <h1>Vanhemmat kuvasarjat</h1>
    <table>
      <tr>
        <td class="title">Vuoden 2009 kuvasatoa</td>
        <td>
          <a href="kuvia_09.html" title="Vuoden 2009 kuvasatoa"><img src="/gallery/2009/IMG_1928.JPG" alt="Mika ja Antti"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Vuoden 2008 kuvasatoa</td>
        <td>
          <a href="kuvia_08.html" title="Vuoden 2008 kuvasatoa"><img src="/gallery/2008/jousi_006.jpg" alt="Jousiammuntaan tutustumassa"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Vuoden 2007 kuvasatoa</td>
        <td>
          <a href="kuvia_07.html" title="Vuoden 2007 kuvasatoa"><img src="/gallery/2007/solvalla07_21.jpg" alt="Solvalla 2007 ryhmäkuva"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Piirrettyjä musta-valkokuvia</td>
        <td>
          <a href="kuvat1.html" title="Piirrettyjä mustavalkokuvia"><img src="/gallery/hw_zazen.gif" alt="Zazen"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Vanhempia valokuvia</td>
        <td>
          <a href="kuvat2.html" title="Vanhempia valokuvia"><img src="/gallery/joku2.gif" alt="Isku"></a>
        </td>
      </tr>
      <tr>        
        <td class="title">Janne Sinkkosen kuvaamia leirikuvia</td>
        <td>
          <a href="kuvat3.html" title="Janne Sinkkosen kuvaamia leirikuvia"><img src="/gallery/thumbs/solmussa2.gif" alt="solmussa"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Risto Kemppaisen kuvaamaa leiri-materiaalia 1997</td>
        <td>
          <a href="kuvat4.html" title="Risto Kemppaisen kuvaamaa leiri-materiaalia"><img src="/gallery/thumbs/etaisyys6.gif" alt="etaisyys"></a>
        </td>
      </tr>
      <tr>
        <td class="title">Lisää piirrettyjä kuvia</td>
        <td>
          <a href="kuvat5.html" title="Lisää piirrettyjä kuvia"><img src="/images/hw_pieni1.gif" alt="Veitsi"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Muistoja pikkujoulusta 97</td>
        <td>
          <a href="kuvat6.html" title="Muistoja pikkujoulusta 97"><img src="/images/pj_pieni1.gif" alt="Ravintola"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">TKY-KDS esittelemässä toimintaansa alayhdistys-viikolla 1998</td>
        <td>
          <a href="kuvat7.html" title="TKY-KDS esittelemässä toimintaansa alayhdistys-viikolla"><img src="/images/ay_pieni1.gif" alt="Mika ja Sami"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Maria Pekkarisen ikuistamia musta-valkokuvia Tatamisalilta 2000</td>
        <td>
          <a href="kuvat8.html" title="Maria Pekkarisen ikuistamia musta-valkokuvia Tatamisalilta"><img src="/images/mp_pieni1.gif" alt="Antti Zazen"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Mika Koskelan sekalaisia leirikuvia 1998-1999</td>
        <td>
          <a href="kuvat9.html" title="Mika Koskelan sekalaisia leirikuvia"><img src="/gallery/thumbs/sl_pieni1.jpg" alt="Ilmeilya"></a>          
        </td>
      </tr>
      <tr>
        <td class="title">Kuvia harjoituksista 2001</td>
        <td>
          <a href="kuvat10.html" title="Kuvia vanhoista harjoituksista"><img src="/gallery/thumbs/karate_kisu_sami_potku_ss.jpg" alt="Kumite"></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="column column-center-right muistoja">
  $body$
</div>