<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="Author" content="Jussi Vesala, Henri Veisterä" />
   <meta name="KeyWords" content="karate,karate-do,shotokai,KDS,kds,Funakoshi, AYY, ayy, TKY, tky" />
   <title>Shotokai Karate - $title$</title>
   <link rel="stylesheet" type="text/css" href="/css/cssreset-min.css" />
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script type="text/javascript" src="/js/homepage.js"></script>
</head>
<body>

<div class="header">
  <div class="top">
    <img src="/images/ajax-loader.gif" alt="Karate Do Shotokai" />
    <div class="language"><a href="#" title="Finnish version of the pages" onclick="changeLanguage()">Finnish version ></a></div>
  </div>
  <nav>
    <ul class="tabs gradient">
      <li><a href="index_en.html" title="Back to main page">main page</a></li>
      <li><a href="harjoitukset_en.html" title="Info about practice times and locations">practices</a></li>
      <li><a href="alkeiskurssi_en.html" title="Info about beginner's course">beginner's course</a></li>
      <li><a href="leirit_en.html" title="Info about camps">camps</a></li>
      <li><a href="yleistietoa_en.html" title="General info on club">general info</a></li>
      <li><a href="muistoja_en.html" title="Karate pictures">memories</a></li>
      <li><a href="tyylikuvaus_en.html" title="Description of style">style description</a></li>
      <li><a href="katat_en.html" title="Shotokai katas">katas</a></li>
      <li><a href="muumaailma_en.html" title="Links to other places">rest of the world</a></li>
    </ul>
  </nav>
</div>

<div class="content">
$body$
</div>

<div class="footer">
  <ul class="tabs gradient">
    <li><a href="yhteystiedot_en.html" title="Contact info for club">contact info</a></li>
    <li><a href="muutokset_en.html" title="Recent changes to site">site changes</a></li>
    <li class="updated">updated $updated$</li>
  </ul>
</div>

</body>
</html>
